<!DOCTYPE html>
<html>

<head>
    <title>WiFI QR Generator</title>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERAREBAQAQAREQAQABABAAEBABEREAEAABEREBAAEAERAAABERAQAQAAAAAAEBABEAAAAQEQARERAAERAAEAABEQAQAQAREREAAAAAEQABAAAAABEREAEAAAEBEREQAAAAEREAAREQAQEQAAEBABEAERAQAAAAAAABEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        rel="icon" type="image/x-icon" />
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>